<div class="row">
    <div class="col">
        <div class="card text-white bg-success mb-3 shadow">
            <div class="card-header text-center h2">Compétences</div>
            <div class="card-body bg-light">
                <h3 class="mb-3 text-dark">Technos utilisées</h3>
                <ul class="nav justify-content-center mb-5">
                    <li class="nav-item mx-3">
                        <img src="libs/images/icone-html.png" class="card-img-top" alt="icone HTML">
                        <div class="small text-center text-dark font-weight-bold">HTML</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img src="libs/images/icone-css.png" class="card-img-top" alt="icone CSS">
                        <div class="small text-center text-dark font-weight-bold">CSS</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img src="libs/images/icone-javascript.png" class="card-img-top" alt="icone Javascript">
                        <div class="small text-center text-dark font-weight-bold">Javascript</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img src="libs/images/icone-jquery.png" class="card-img-top" alt="icone JQuery">
                        <div class="small text-center text-dark font-weight-bold">JQuery</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img src="libs/images/icone-bootstrap.png" class="card-img-top" alt="icone Bootstrap">
                        <div class="small text-center text-dark font-weight-bold">Bootstrap</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img src="libs/images/icone-wordpress.png" class="card-img-top" alt="icone Wordpress">
                        <div class="small text-center text-dark font-weight-bold">Wordpress</div>
                    </li>
                </ul>

                <h3 class="mb-3 text-dark">Editeurs de texte utilisés</h3>
                <ul class="nav justify-content-center mb-5">
                    <li class="nav-item mx-3">
                        <img src="libs/images/icone-phpstorm.png" class="card-img-top" alt="icone PhpStorm">
                        <div class="small text-center text-dark font-weight-bold">PhpStorm</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img src="libs/images/icone-visual-studio-code.png" class="card-img-top"
                            alt="icone Visual Studio Code">
                        <div class="small text-center text-dark font-weight-bold">VS Code</div>
                    </li>
                </ul>

                <h3 class="mb-3 text-dark">Partie front-end</h3>
                <p class="text-dark">Création d'une maquette d'une application selon la demande du client et du
                    cahier des charges.</p>
                <p class="text-dark">Mise en place d'une interface utilisateur web statique avant validation du
                    client.</p>
                <p class="text-dark">Développement dynamique de l'interface utilisateur.</p>
                <p class="text-dark mb-5">Réalisation d'un interface client avec une solution de gestion de
                    contenu et / ou e-commerce.</p>
                <h3 class="mb-3 text-dark">Partie back-end</h3>
                <p class="text-dark">En cours d'acquisition...</p>
            </div>
        </div>
    </div>
</div>