<div class="row">
    <div class="col">
        <div class="card text-white bg-success mb-3 shadow">
            <div class="card-header text-center h2">Compétences</div>
            <div class="card-body bg-light">
                <h3 class="mb-3 alert alert-dark text-center">Technos</h3>
                <h4 class="text-danger font-weight-bold card-title">Front-end</h4>
                <ul class="nav justify-content-center mb-5">
                    <li class="nav-item m-3">
                        <img id="iconeHTML" src="libs/images/icone-html.png" class="card-img-top iconBeautify"
                             alt="icone HTML" title="HTML 5">
                        <div class="small text-center text-white font-weight-bold border shadow-lg bg-dark rounded-lg mt-1">HTML</div>
                    </li>
                    <li class="nav-item m-3">
                        <img id="iconeCSS" src="libs/images/icone-css.png" class="card-img-top iconBeautify"
                             alt="icone CSS" title="CSS 3">
                        <div class="small text-center text-white font-weight-bold border shadow-lg bg-dark rounded-lg mt-1">CSS</div>
                    </li>
                    <li class="nav-item m-3">
                        <img id="iconeJavascript" src="libs/images/icone-javascript.png"
                             class="card-img-top iconBeautify" alt="icone Javascript" title="Vanilla JS">
                        <div class="small text-center text-white font-weight-bold border shadow-lg bg-dark rounded-lg mt-1">Javascript</div>
                    </li>
                    <li class="nav-item m-3">
                        <img id="iconeJquery" src="libs/images/icone-jquery.png" class="card-img-top iconBeautify"
                             alt="icone JQuery" title="JQuery">
                        <div class="small text-center text-white font-weight-bold border shadow-lg bg-dark rounded-lg mt-1">JQuery</div>
                    </li>
                    <li class="nav-item m-3">
                        <img id="iconeBootstrap" src="libs/images/icone-bootstrap.png" class="card-img-top iconBeautify"
                             alt="icone Bootstrap" title="Bootstrap">
                        <div class="small text-center text-white font-weight-bold border shadow-lg bg-dark rounded-lg mt-1">Bootstrap</div>
                    </li>
                </ul>
                <h4 class="text-danger font-weight-bold card-title">Back-end</h4>
                <ul class="nav justify-content-center mb-5">
                    <li class="nav-item m-3">
                        <img id="iconePhp" src="libs/images/icone-php.png" class="card-img-top iconBeautify"
                             alt="icone PHP" title="PHP">
                        <div class="small text-center text-white font-weight-bold border shadow-lg bg-dark rounded-lg mt-1">PHP</div>
                    </li>
                    <li class="nav-item m-3">
                        <img id="iconeMySQL" src="libs/images/icone-mysql.png" class="card-img-top iconBeautify"
                             alt="icone MySQL" title="MySQL">
                        <div class="small text-center text-white font-weight-bold border shadow-lg bg-dark rounded-lg mt-1">MySQL</div>
                    </li>
                    <li class="nav-item m-3">
                        <img id="iconeSymfony" src="libs/images/icone-symfony.png" class="card-img-top iconBeautify"
                             alt="icone Symfony" title="Symfony">
                        <div class="small text-center text-white font-weight-bold border shadow-lg bg-dark rounded-lg mt-1">Symfony</div>
                    </li>
                </ul>
                <hr>
                <h3 class="mb-3 alert alert-dark text-center">Editeurs de texte & IDE utilisés</h3>
                <ul class="nav justify-content-center mb-5">
                    <li class="nav-item m-3">
                        <img id="iconePhpStorm" src="libs/images/icone-phpstorm.png" class="card-img-top iconBeautify"
                             alt="icone PhpStorm" title="PHPStorm">
                        <div class="small text-center text-white font-weight-bold border shadow-lg bg-dark rounded-lg mt-1">PHPStorm</div>
                    </li>
                    <li class="nav-item m-3">
                        <img id="iconeVisualStudioCode" src="libs/images/icone-visual-studio-code.png"
                             class="card-img-top iconBeautify" alt="icone Visual Studio Code" title="Visual Studio Code">
                        <div class="small text-center text-white font-weight-bold border shadow-lg bg-dark rounded-lg mt-1">VS Code</div>
                    </li>
                </ul>
                <hr>

                <h3 class="mb-3 alert alert-dark text-center">Compétences</h3>

                <!-- Front-end-->
                <div class="card shadow-lg mb-3">
                    <div class="card-body">
                        <h4 class="text-danger font-weight-bold card-title">Partie front-end</h4>
                        <p class="text-dark">Création d'une maquette d'une application selon la demande du client et du
                            cahier des charges.</p>
                        <p class="text-dark">Mise en place d'une interface utilisateur web statique avant validation du
                            client.</p>
                        <p class="text-dark">Développement dynamique de l'interface utilisateur.</p>
                        <p class="text-dark">Réalisation d'un interface client avec une solution de gestion de
                            contenu et / ou e-commerce.</p>
                    </div>
                </div>

                <!-- Back-end -->
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h4 class="text-danger font-weight-bold card-title">Partie back-end</h4>
                        <p class="text-dark">Créer une base de données.</p>
                        <p class="text-dark">Développer les composants d’accès aux données.</p>
                        <p class="text-dark">Développer la partie back-end d’une application web ou web mobile.</p>
                        <p class="text-dark">Elaborer et mettre en oeuvre des composants dans une application de gestion de
                            contenu ou e-commerce.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        // Un peu de css sur les icones
        $(".iconBeautify").css(
            {
                "border": "2px solid rgba(0,0,0,0.2)",
                "border-radius": "10px",
                "box-shadow": "0 2px 8px rgba(0,0,0,0.4), 0 1px 9px rgba(0,0,0,0.2)",
                "padding": "5px"
            });
    });
</script>