<div class="row">
    <div class="col">
        <div class="card text-white bg-success mb-3 shadow">
            <div class="card-header text-center h2">Compétences</div>
            <div class="card-body bg-light">
                <h3 class="mb-3 text-dark">Technos</h3>
                <ul class="nav justify-content-center mb-5">
                    <li class="nav-item mx-3">
                        <img id="iconeHTML" src="libs/images/icone-html.png" class="card-img-top iconBeautify"
                            alt="icone HTML">
                        <div class="small text-center text-dark font-weight-bold mt-2">HTML</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img id="iconeCSS" src="libs/images/icone-css.png" class="card-img-top iconBeautify"
                            alt="icone CSS">
                        <div class="small text-center text-dark font-weight-bold mt-2">CSS</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img id="iconeJavascript" src="libs/images/icone-javascript.png"
                            class="card-img-top iconBeautify" alt="icone Javascript">
                        <div class="small text-center text-dark font-weight-bold mt-2">Javascript</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img id="iconeJquery" src="libs/images/icone-jquery.png" class="card-img-top iconBeautify"
                            alt="icone JQuery">
                        <div class="small text-center text-dark font-weight-bold mt-2">JQuery</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img id="iconeBootstrap" src="libs/images/icone-bootstrap.png" class="card-img-top iconBeautify"
                            alt="icone Bootstrap">
                        <div class="small text-center text-dark font-weight-bold mt-2">Bootstrap</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img id="iconeWordpress" src="libs/images/icone-wordpress.png" class="card-img-top iconBeautify"
                            alt="icone Wordpress">
                        <div class="small text-center text-dark font-weight-bold mt-2">Wordpress</div>
                    </li>
                </ul>

                <h3 class="mb-3 text-dark">IDE</h3>
                <ul class="nav justify-content-center mb-5">
                    <li class="nav-item mx-3">
                        <img id="iconePhpStorm" src="libs/images/icone-phpstorm.png" class="card-img-top iconBeautify"
                            alt="icone PhpStorm">
                        <div class="small text-center text-dark font-weight-bold mt-2">PhpStorm</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img id="iconeVisualStudioCode" src="libs/images/icone-visual-studio-code.png"
                            class="card-img-top iconBeautify" alt="icone Visual Studio Code">
                        <div class="small text-center text-dark font-weight-bold mt-2">VS Code</div>
                    </li>
                </ul>
                <h3 class="mb-3 text-dark">Outils GIT</h3>
                <ul class="nav justify-content-center mb-5">
                    <li class="nav-item mx-3">
                        <img id="iconeGithubDesktop" src="libs/images/icone-github-desktop.png" class="card-img-top iconBeautify"
                            alt="icone Github Desktop">
                        <div class="small text-center text-dark font-weight-bold mt-2">Git Desktop</div>
                    </li>
                    <li class="nav-item mx-3">
                        <img id="iconeGitKraken" src="libs/images/icone-gitkraken.png"
                            class="card-img-top iconBeautify" alt="icone GitKraken">
                        <div class="small text-center text-dark font-weight-bold mt-2">GitKraken</div>
                    </li>
                </ul>

                <h3 class="mb-3 text-dark">Partie front-end</h3>
                <p class="text-dark">Création d'une maquette d'une application selon la demande du client et du
                    cahier des charges.</p>
                <p class="text-dark">Mise en place d'une interface utilisateur web statique avant validation du
                    client.</p>
                <p class="text-dark">Développement dynamique de l'interface utilisateur.</p>
                <p class="text-dark mb-5">Réalisation d'un interface client avec une solution de gestion de
                    contenu et / ou e-commerce.</p>
                <h3 class="mb-3 text-dark">Partie back-end</h3>
                <p class="text-dark">En cours d'acquisition...</p>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        // Un peu de css sur les icones
        $(".iconBeautify").css(
            {
                "border": "2px solid rgba(0,0,0,0.2)",
                "border-radius": "10px",
                "box-shadow": "0 2px 8px rgba(0,0,0,0.4), 0 1px 9px rgba(0,0,0,0.2)",
                "padding": "5px"
            });

        // Titres des icones
        let icones = {
            "#iconeHTML" : "HTML 5",
            "#iconeCSS" : "CSS 3",
            "#iconeJavascript" : "Vanilla JS",
            "#iconeJquery" : "Jquery 3",
            "#iconeBootstrap" : "Bootstrap 4",
            "#iconeWordpress" : "Wordpress",
            "#iconePhpStorm" : "PHPStorm",
            "#iconeVisualStudioCode" : "Visual Studio Code",
            "#iconeGithubDesktop" : "Github Desktop",
            "#iconeGitKraken" : "GitKraken"
        }

        for(let datas in icones) {
            $(datas).on("mouseover", function () {
            $(this).attr("title", icones[datas])
            });
        }

    });
</script>