<div class="row">
    <div class="col">
        <div class="card text-white bg-primary mb-3 shadow">
            <div class="card-header text-center h2">Expériences professionnelles</div>
            <div class="card-body">


                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Périodes</th>
                            <th scope="col">Entreprises / Postes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2019 - Aujourd'hui</th>
                            <td>AFPA - Liévin (62)<br>
                                <span class="font-weight-bold">Stagiaire - Développeur Web & Web Mobile</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2015 - 2018</th>
                            <td>DEPANN'GAZ SERVICE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2013 - 2015</th>
                            <td>THERM'OPALE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2015 - 2018</th>
                            <td>DEPANN'GAZ SERVICE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2015 - 2018</th>
                            <td>DEPANN'GAZ SERVICE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2015 - 2018</th>
                            <td>DEPANN'GAZ SERVICE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2015 - 2018</th>
                            <td>DEPANN'GAZ SERVICE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2015 - 2018</th>
                            <td>DEPANN'GAZ SERVICE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2015 - 2018</th>
                            <td>DEPANN'GAZ SERVICE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2015 - 2018</th>
                            <td>DEPANN'GAZ SERVICE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2015 - 2018</th>
                            <td>DEPANN'GAZ SERVICE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2015 - 2018</th>
                            <td>DEPANN'GAZ SERVICE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>