<div class="row">
    <div class="col">
        <div class="card text-white bg-primary mb-3 shadow">
            <div class="card-header text-center h2">Expériences professionnelles</div>
            <div class="card-body bg-light">
                <table class="table table-borderless">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Périodes</th>
                            <th scope="col">Entreprises / Postes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2019 - Aujourd'hui</th>
                            <td>AFPA - Liévin (62)<br>
                                <span class="font-weight-bold">Stagiaire - Développeur Web & Web Mobile (formation de reconversion)</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2015 - 2018</th>
                            <td>DEPANN'GAZ SERVICE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2013 - 2015</th>
                            <td>THERM'OPALE - Carvin (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2010 - 2012</th>
                            <td>LYCEE ANDRE MALRAUX - Béthune (62)<br>
                                <span class="font-weight-bold">Magasinier - Gestionnaire de stocks au Service Restaurant d'Application</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2007 - 2008</th>
                            <td>DIPLO STORE - Clermont (60)<br>
                                <span class="font-weight-bold">Micro Entreprise de vente de CD, DVD et jeux vidéos neufs avec gestion d'une boutique en ligne</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2004 - 2007</th>
                            <td>GARAGE RENAULT SEGO - Clermont (60)<br>
                                <span class="font-weight-bold">Gestionnaire de facturation et de location de véhicules</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2003</th>
                            <td>FEDERATION DES CHASSEURS DE L'OISE - Laigneville (60)<br>
                                <span class="font-weight-bold">Assistant administratif au secrétariat</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2000 - 2002</th>
                            <td>CENTRE TECHNIQUE CETIM - Senlis (60)<br>
                                <span class="font-weight-bold">Gestionnaire administratif au Service Technique</span></td>
                        </tr>
                        <tr>
                            <th scope="row">1998 - 1999</th>
                            <td>ATALANTE - INFORMATIQUE & FORMATION - Compiègne (60)<br>
                                <span class="font-weight-bold">Gestionnaire des dossiers des stagiaires et Formateur aux outils informatiques</span></td>
                        </tr>
                        <tr>
                            <th scope="row">1997</th>
                            <td>UTR (Unité Technique de Reclassement) - ANPE - Creil (60)<br>
                                <span class="font-weight-bold">Aide comptable</span></td>
                        </tr>
                        <tr>
                            <th scope="row">1994 - 1996</th>
                            <td>62ème REGIMENT D'ARTILLERIE - ARMEE - Mailly le Camp (10)<br>
                                <span class="font-weight-bold">Aide comptable</span></td>
                        </tr>
                        <tr>
                            <th scope="row">1986 - 1988</th>
                            <td>GARAGE PLESSIER - Laigneville (60)<br>
                                <span class="font-weight-bold">Apprenti mécanicien auto - CAP obtenu</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>