<div class="row">
    <div class="col">
        <div class="card text-white bg-danger mb-3 shadow">
            <div class="card-header text-center h2">Formations - Diplômes</div>
            <div class="card-body bg-light">
                <table class="table table-borderless">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Périodes</th>
                            <th scope="col">Titres obtenus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2019 - 2020</th>
                            <td><span class="font-weight-bold">Titre Professionnel</span> - Développeur Web & Web Mobile - AFPA de Liévin (en cours)</td>
                        </tr>
                        <tr>
                            <th scope="row">1993</th>
                            <td><span class="font-weight-bold">Baccalauréat G2</span> - Techniques Quantitatives de Gestion - Lycée Cassini à Clermont (60)</td>
                        </tr>
                        <tr>
                            <th scope="row">1990</th>
                            <td><span class="font-weight-bold">CAP & BEP</span> - Administration Commerciale & Comptable</td>
                        </tr>
                        <tr>
                            <th scope="row">1988</th>
                            <td><span class="font-weight-bold">CAP</span> - Mécanicien réparateur d'automobiles</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>