<div class="row">
    <div class="col">
        <div class="card text-white bg-warning mb-3 shadow">
            <div class="card-header text-center h2">Les plus</div>
            <div class="card-body bg-light">
                <h3 class="mb-3 text-dark">Loisirs</h3>
                <p class="text-dark">Cinéma, cuisine, culture, musique, promenades et bien sûr l'informatique !</p>
                <h3 class="mb-3 text-dark">Langues</h3>
                <p class="text-dark"><span class="font-weight-bold">Anglais</span> : Niveau A2 (lu, parlé, écrit) + technique.</p>
            </div>
        </div>
    </div>
</div>