<div class="row">
    <div class="col">
        <div class="card text-white bg-dark mb-3 shadow">
            <div class="card-header text-center h2">Mes réalisations</div>
            <div class="card-body bg-light">
                <div class="card shadow-lg rounded-lg mb-3">
                    <div class="card-body">
                        <h3 class="card-title text-dark">Aux Plaisirs Sucrés</h3>
                        <div class="row flex-md-row flex-column text-center align-items-center">
                            <div class="col mb-2">
                                <img src="libs/images/thumbnail-auxplaisirssucres.jpg" class="align-self-center mr-3 img-thumbnail shadow-lg"
                                     alt="Miniature site Aux Plaisirs Sucrés">
                            </div>
                            <div class="col">
                                <h5 class="mt-0 text-dark">Site vitrine de présentation d'une pâtisserie</h5>
                                <hr>
                                <p class="text-dark">Développé uniquement en front-end</p>
                                <p class="text-dark font-weight-bold">Technos utilisées</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-html.png" alt="Mini icône HTML 5"> HTML 5</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-css.png" alt="Mini icône CSS 3"> CSS 3</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-bootstrap.png" alt="Mini icône Bootstrap 4"> Bootstrap 4</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-javascript.png" alt="Mini icône Javascript"> Javascript</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-jquery.png" alt="Mini icône Jquery"> Jquery</p>
                                <p class="text-dark">Site vitrine que j'ai développé dans le cadre de mon stage en entreprise d'un mois
                                    et demi. Stage que j'ai effectué chez moi en parfaite autonomie.</p>
                                <p class="text-dark">Il a été réalisé pour un Artisan pâtissier situé à Haillicourt (Pas-de-Calais).</p>
                                <button type="button" class="btn btn-success mb-3" id="boutonAuxPlaisirsSucres">Visiter le
                                    site</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow-lg rounded-lg mb-3">
                    <div class="card-body">
                        <h3 class="mb-3 text-dark">Fashion</h3>
                        <div class="row flex-md-row flex-column text-center align-items-center">
                            <div class="col mb-2">
                                <img src="libs/images/thumbnail-fashion.jpg" class="align-self-center mr-3 img-thumbnail shadow-lg"
                                     alt="Miniature site Fashion">
                            </div>
                            <div class="col">
                                <h5 class="mt-0 text-dark">Une page d'accueil exemple toute simple</h5>
                                <hr>
                                <p class="text-dark font-weight-bold">Technos utilisées</p>

                                <p class="text-dark"><img src="libs/images/mini-icone-html.png" alt="Mini icône HTML 5"> HTML 5</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-css.png" alt="Mini icône CSS 3"> CSS 3</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-bootstrap.png" alt="Mini icône Bootstrap 4"> Bootstrap 4</p>

                                <p class="text-dark">Page développée en un week-end pour tester ce que je venais d'apprendre
                                    avec le framework css Bootstrap 4.</p>
                                <button type="button" class="btn btn-success" id="boutonFashion">Visiter le
                                    site</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow-lg rounded-lg mb-3">
                    <div class="card-body">
                        <h3 class="mb-3 text-dark">Mistergratos</h3>
                        <div class="row flex-md-row flex-column text-center align-items-center">
                            <div class="col mb-2">
                                <img src="libs/images/thumbnail-mistergratos.jpg" class="align-self-center mr-3 img-thumbnail shadow-lg"
                                     alt="Miniature site Fashion">
                            </div>
                            <div class="col">
                                <h5 class="mt-0 text-dark">Plateforme de téléchargement de fonds d'écran - Pilotée par le framework PHP <span class="font-weight-bold text-danger"><img src="../libs/images/mini-icone-symfony.png" alt="Mini icône Symfony 5"> Symfony 5</span>
                                </h5>
                                <hr>
                                <p class="text-dark font-weight-bold">Technos utilisées</p>
                                <p class="text-danger font-weight-bold">- Front-end -</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-html.png" alt="Mini icône HTML 5"> HTML 5</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-css.png" alt="Mini icône CSS 3"> CSS 3</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-bootstrap.png" alt="Mini icône Bootstrap 4"> Bootstrap 4</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-twig.png" alt="Mini icône Twig"> Twig</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-javascript.png" alt="Mini icône Javascript"> Javascript</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-jquery.png" alt="Mini icône Jquery"> Jquery</p>
                                <p class="text-danger font-weight-bold">- back-end -</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-php.png" alt="Mini icône PHP 7"> PHP 7</p>
                                <p class="text-dark"><img src="libs/images/mini-icone-mysql.png" alt="Mini icône MySQL"> MySQL</p>
                                <p class="text-danger font-weight-bold">- Bibliothèques, plugins, bundles -</p>
                                <p class="text-dark">Axios</p>
                                <p class="text-dark">Webpack Encore</p>
                                <p class="text-dark">Easyadmin</p>
                                <p class="text-dark">VichUploader</p>
                                <p class="text-dark">KnpPaginator</p>
                                <p class="text-dark">Projet personnel réalisé dans le cadre de ma certification de développeur web et web mobile. Le site n'est pas visitable car il n'est pas en ligne, mais je peux vous faire une démonstration en local.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#boutonAuxPlaisirsSucres").on("click", function () {
            window.location.href = "https://thierrydev62.github.io/auxPlaisirsSucres/";
        });
        $("#boutonFashion").on("click", function () {
            window.location.href = "https://thierrydev62.github.io/fashion/";
        });
    });

</script>